In [10]:
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon

import json # library to handle JSON files

# import the data set
df = pd.read_csv('/Users/no50free/GitHub/NiceRide/201908-niceride-tripdata.csv')

In [7]:
df.head(3)

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
0,811,2019-08-01 00:00:44.8830,2019-08-01 00:14:16.2140,191.0,Park Ave & 4th Street S,44.975907,-93.260061,198.0,5th Street NE & 3rd Ave NE,44.991914,-93.255799,262,Subscriber,1991,2,Classic
1,99,2019-08-01 00:00:48.1090,2019-08-01 00:02:27.5170,43.0,Nicollet Mall & 10th Street,44.973839,-93.274544,8.0,YWCA Downtown,44.972217,-93.276435,477,Subscriber,1990,2,Classic
2,1205,2019-08-01 00:02:34.2950,2019-08-01 00:22:39.7020,69.0,N Washington Ave & 9th Ave N,44.989909,-93.279788,199.0,3rd Street NE & Lowry Ave NE,45.013040,-93.264573,24,Customer,1994,1,Classic

# Convert time

In [11]:
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

# Add start hour
df['start_hour'] = df['start_time'].dt.hour

# Add day of week
df['startdayofweek'] = df['start_time'].dt.dayofweek
df['enddayofweek'] = df['end_time'].dt.dayofweek

# Convert tripduration to minutes instead of seconds
df.tripduration = df.tripduration/60

In [4]:
df.sample(3)

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type,start_hour,startdayofweek,enddayofweek
42118,24.850000,2019-08-18 13:52:16.214,2019-08-18 14:17:07.682,NaN,NaN,44.990000,-93.270000,NaN,NaN,44.98000,-93.240000,2614,Subscriber,1993,2,Dockless,13,6,6
50365,4.266667,2019-08-21 21:12:37.077,2019-08-21 21:16:53.374,214.0,Mill City Quarter,44.980500,-93.261800,167.0,11th Ave S & S 2nd Street,44.97622,-93.251977,1924,Subscriber,1966,2,Classic,21,2,2
55867,9.950000,2019-08-24 11:14:53.223,2019-08-24 11:24:50.925,148.0,Chicago Ave & S Washington Ave,44.977424,-93.256765,91.0,Grant Street & Portland Ave,44.96954,-93.266900,142,Subscriber,1959,1,Classic,11,5,5

In [5]:
# Long trips defined as longer than 2 hours.
# 
df["long_trip"] = df.tripduration > 120
df.sample(3)

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type,start_hour,startdayofweek,enddayofweek,long_trip
22851,15.116667,2019-08-09 18:10:16.558,2019-08-09 18:25:24.377,24.0,26th Street & Lyndale,44.955654,-93.288485,807.0,W Lake of the Isles Pkwy & W 21st Street,44.961347,-93.304648,1173,Customer,1969,0,Classic,18,4,4,False
39289,13.200000,2019-08-17 12:42:17.725,2019-08-17 12:55:30.141,NaN,NaN,44.990000,-93.260000,NaN,NaN,44.990000,-93.280000,2753,Subscriber,1987,2,Dockless,12,5,5,False
37973,18.416667,2019-08-16 20:37:24.014,2019-08-16 20:55:49.153,NaN,NaN,45.020000,-93.220000,NaN,NaN,44.990000,-93.240000,2087,Subscriber,1983,1,Dockless,20,4,4,False

In [12]:
# Remove long trips, i.e. trips longer than 2 hours.
print(df.shape)
df = df[df.tripduration < 120]
print(df.shape)

(72641, 19)
(70255, 19)

# Problem statement
We want to see if we can predict if a customer will ride a bike longer than 30 minutes. After 30 minutes, additional charges apply. We created a `long_trip` feature for trips longer than 30 minutes (True).

## Feature selection.
We have a small issue that `Dockless` bikes do not have start/end stations. For the moment, I am going to restrict my attention to the `Classic` `bike type`.

The features I will use are `start_hour`, `start station latitude`, `start station longitude`, `end station latitude`, `end station longitude`, `usertype`, `birth year`, `gender`, `startdayofweek`. The response variable will be `long_trip`.

# Alternate problem statement
After removing long (2 hours) trips, can we use regression to predict tripduration?

In [13]:
X = df[['start_hour', 'start station latitude', 'start station longitude', 'end station latitude',
        'end station longitude', 'usertype', 'birth year', 'gender', 'startdayofweek', 'bike type']]

# Trip dataframe to remove dockless bikes
X = X[X['bike type'] == 'Classic']

# Remove 'bike type' column
X.drop(columns='bike type', inplace=True)

X.sample(3)

,start_hour,start station latitude,start station longitude,end station latitude,end station longitude,usertype,birth year,gender,startdayofweek
45940,20,44.949504,-93.288223,44.955654,-93.288485,Customer,1969,0,0
2102,19,44.953550,-93.262590,44.953550,-93.262590,Subscriber,1994,2,3
66651,16,44.978665,-93.270503,44.989189,-93.276561,Subscriber,1989,1,3

In [14]:
y = df[df['bike type'] == 'Classic'].tripduration

In [15]:
print(X.shape)
print(y.shape)

(49544, 9)
(49544,)

## Split the data

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.1)

## Build the model
Use a logistic regression model because its a classification problem

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

# Find categorical columns
categorical_cols = [cname for cname in X.columns if
                   X[cname].dtype == 'object']

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps = [
    ('onehot', OneHotEncoder(handle_unknown = 'ignore'))
])

# Bundle preprocessing for pipeline
preprocessor = ColumnTransformer(transformers =[
#    ('num', numerical_transformer, numerical_cols), # numerical columns not missing data. May use when trying dockless
    ('cat', categorical_transformer, categorical_cols)
])

# Use Linear Regression
model = LinearRegression()

# Use Logistic Regression
#model = LogisticRegression(max_iter=5000, solver='lbfgs', C=0.05)

# Use KNN
#model = KNeighborsClassifier(n_neighbors=20)

# Construct pipeline
my_pipe = Pipeline(steps=[
    ('preprocessor', preprocessor), 
    ('model', model)
])

In [24]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(my_pipe, X, y, cv=10)

print("scores are", cv_scores)
print("average score is", cv_scores.mean())

scores are [0.09629233 0.10222637 0.12666481 0.13106176 0.08277227 0.07873078
 0.12192052 0.11334248 0.08286477 0.11676629]
average score is 0.10526423650473249